main, footer{
    background-color: black;
} 
.navbar {
    color: yellow; /* Cor de fundo */
}
.fonte{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: aliceblue;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
}