html, body{
    background-color: orange;
}

.title-text, bory-text {
    font-size: 30pt;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    color: brown;
}

.bory-text {
    font-size: 15pt;
    color:bisque;
    padding-top: 25px;
}
